*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

input {
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* Mobile header */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.accent {
  color: #2e2f42;
}

.nav-list,
.address {
  display: none;
}

/* Mobile menu */

@media screen and (max-width: 767px) {
  .header-section {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .mobile-menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    stroke: #2f2f37;
  }

  .mobile-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding-top: 72px;
    padding-bottom: 40px;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-wrapper.is-open {
    transform: translateX(0%);
  }

  .mobile-menu-container {
    margin-left: 0;
    margin-right: 0;
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    line-height: 0;
    border: 1px solid #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    stroke: #2e2f42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    fill: #ffffff;
    background-color: #404bbf;
    border: none;
  }

  .mobile-menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 168px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
  }

  .mobile-menu-nav-list-item {
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-nav-list-item:hover,
  .mobile-menu-nav-list-item:focus {
    color: #404bbf;
  }

  .mobile-menu-nav-list-item:active {
    text-decoration: underline;
  }

  .mobile-menu-address {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .mobile-menu-contact-details {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-contact-details:hover,
  .mobile-menu-contact-details:focus {
    color: #404bbf;
  }

  .mobile-menu-icon-section {
    display: flex;
    gap: 40px;
    margin-top: 48px;
    justify-content: center;
  }

  .mobile-icon-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-icon-link:hover,
  .mobile-icon-link:focus {
    background-color: #404bbf;
  }

  .social-media-icon {
    fill: #f4f4fd;
  }
}

/* Tablet header */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .mobile-menu-wrapper {
    display: none;
  }

  .mobile-menu-open-btn {
    display: none;
  }

  .logo {
    margin-right: 120px;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-section {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  }

  .nav-list {
    font-weight: 500;
    display: flex;
    gap: 40px;
    padding: 24px 0;
  }

  .nav-list-item {
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-list-item:hover,
  .nav-list-item:focus {
    color: #404bbf;
  }

  .nav-list-item:active {
    text-decoration: underline;
  }

  .main-page-name {
    position: relative;
    color: #404bbf;
  }

  .nav-list .main-page-name::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .contacts-section {
    font-style: normal;
  }

  .address {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contact-details {
    color: #434455;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-details:hover,
  .contact-details:focus {
    color: #404bbf;
  }
}

/* Desktop header */

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .logo {
    margin-right: 76px;
  }

  .address {
    flex-direction: row;
    gap: 40px;
  }

  .contact-details {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* Mobile solutions section */

.solutions-section {
  background-color: #2e2f42;
  padding: 72px 0;
  max-width: 320px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-solutions-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.solutions-title {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  max-width: 217px;
  margin: 0 auto 72px;
  text-transform: capitalize;
}

.solutions-button {
  color: #fff;
  background-color: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
  margin-top: 0;
  padding: 16px 32px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  line-height: 1.5;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solutions-button:hover,
.solutions-button:focus {
  background-color: #404bbf;
}

/* Tablet solutions section */

@media screen and (min-width: 768px) {
  .solutions-section {
    padding: 112px 0;
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-solutions-bg.jpg);
  }

  .solutions-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
    text-transform: none;
  }
}

/* Desktop solutions section */

@media screen and (min-width: 1024px) {
  .solutions-section {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop-solutions-bg.jpg);
  }

  .solutions-title {
    margin-bottom: 48px;
  }
}

/* Mobile benefits section */

.benefits-icon-section {
  display: none;
}

.benefits-section {
  padding: 96px 0;
}

.benefits-list-item {
  width: 100%;
}

.benefits-list-item:not(:last-child) {
  margin-bottom: 72px;
}

.benefits-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  margin-bottom: 8px;
}

.benefits-text {
  font-weight: 500;
  margin-top: 0;
}

/* Tablet benefits section */

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .benefits-list-item {
    width: calc((100% - 24px) / 2);
  }

  .benefits-list-item:first-child {
    padding-right: 32px;
  }

  .benefits-list-item:not(:last-child) {
    margin-bottom: 0;
  }

  .benefits-title {
    text-align: start;
  }
}

/* Desktop benefits section */

@media screen and (min-width: 1024px) {
  .benefits-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .benefits-list {
    display: flex;
    flex-wrap: nowrap;
  }

  .benefits-list-item {
    width: calc((100% - 72px) / 4);
  }

  .benefits-list-item:first-child {
    padding-right: 0;
  }

  .benefits-icon-section {
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
  }

  .benefits-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .benefits-text {
    font-weight: 400;
  }
}

/* Mobile team section */

.team-section {
  background-color: #f4f4fd;
  padding: 96px 12px;
}

.section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  margin-top: 0;
}

.team-list-item {
  background-color: #ffffff;
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  max-width: 264px;
}

.team-list-item:not(:last-child) {
  margin-bottom: 72px;
}

.team-text {
  padding: 32px 0;
}

.team-employee {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}

.employee-text {
  text-align: center;
  font-weight: 400;
  margin-top: 0;
}

.team-icon-section {
  display: flex;
  gap: 24px;
  margin: 8px 16px 0;
  justify-content: center;
}

.team-icon-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: #404bbf;
}

.social-media-icon {
  fill: #f4f4fd;
}

/* Tablet team section */

@media screen and (min-width: 768px) {
  .team-section {
    padding-left: 92px;
    padding-right: 92px;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .team-list-item {
    width: calc((100% - 24px) / 2);
  }

  .team-list-item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .team-container {
    max-width: 584px;
  }
}

/* Desktop team section */

@media screen and (min-width: 1024px) {
  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    display: flex;
    flex-wrap: nowrap;
  }

  .team-list-item {
    width: calc((100% - 72px) / 4);
  }
}

/* Backdrop mobile */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 16px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  line-height: 0;
  border: 1px solid #0000001a;
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}

.form-title {
  width: 256px;
  color: #2e2f42;
  text-align: center;
  font-weight: 500;
  margin-bottom: 16px;
}

.form-field {
  margin-bottom: 8px;
}

.form-label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
}

.input-icon-field {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  padding: 11px 0;
  padding-left: 34px;
  background-color: transparent;
  outline: 0px solid transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
  fill: #4d5ae5;
}

.form-comment {
  margin-bottom: 16px;
}

.comment {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid #2e2f4266;
  border-radius: 4px;
  padding: 8px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f4266;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus {
  border-color: #4d5ae5;
}

.comment::placeholder {
  color: #8e8f99;
  font-weight: 400;
}

.form-checkbox {
  margin-bottom: 24px;
}

.custom-checkmark {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  fill: transparent;
  flex-shrink: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-label > .custom-checkmark {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.custom-checkmark-icon {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-label .custom-checkmark-icon {
  opacity: 1;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.accent-color {
  color: #4d5ae5;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.form-button {
  color: #fff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-top: 0;
  padding: 16px 32px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background-color: #404bbf;
}

/* Backdrop tablet */

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding-right: 25px;
    padding-left: 23px;
  }

  .form-title {
    width: 360px;
  }
}

/* Backdrop desktop */

@media screen and (min-width: 1024px) {
  .modal {
    padding-right: 24px;
    padding-left: 24px;
  }

  .form-input {
    padding-left: 38px;
  }
}
